<!-- Footer -->
<div >
    <div class="container">
        <div >
            <div >

                <div >
                    &copy; @Config.CompanyName. All rights reserved. | Design: <a href="http://html5up.net">@Config.CompanyName</a>
                </div>

            </div>
        </div>
    </div>
</div>